<!DOCTYPE html>


<html>

<head>
    <link rel="icon" href="/img/weather.png"> 
    <title>Error</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class = 'main-content'>
        {{>header}}
        <p>{{error_message}}</p>
    </div>
    
    {{>footer}}
</body>

</html>